.goods{
  padding: 40px 0;
}
.goods__tagline{
font-size: 16px;
text-align: center;
margin-bottom: 4px;
}
.goods__title{
font-weight: 600;
  font-size: 26px;
  margin-bottom: 29px;
  text-align: center;
}
.goods__helper {
  position: relative;
}
.goods__arrow{
  position: absolute;
  /* top: 0; */
  display: block;
  width: 60px;
  height: 60px;
  background-color: #7883E5;
  border: 1px solid #7883E5;
  border-radius: 50%;
}
.goods__arrow-prev{
  
}
.goods__arrow-next{

}