.goods{
  padding: 40px 0;
}
.goods__tagline{
font-size: 16px;
text-align: center;
margin-bottom: 4px;
}
.goods__title{
font-weight: 600;
  font-size: 26px;
  margin-bottom: 29px;
  text-align: center;
}
.goods__helper {
  position: relative;
}
.goods__arrow{
  position: absolute;
  top: 115px;
padding: 5px;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('/img/arrow-slider.svg');
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
}
.goods__arrow-prev{
 left: -5px; 
}
.goods__arrow-next{
right: -5px;
transform: rotate(180deg);
}