.product{
  width: 290px;
  margin: 0 auto;
}
.product__image-wrapper{
border: 1px solid #ECECEC;
border-radius: 12px;
height: 290px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 16px;
}
.product__info{
display: flex;
justify-content: space-between;
margin-bottom: 14px;
}
.poduct__title{
font-weight: 400;
  font-size: 16px;
}
.product__more{
  position: relative;
  color: #2238FF;
  font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    padding-right: 20px;
}
.product__more:after{
  content: '';
  position: absolute;
  display: block;
  right: 0;
  width: 12px;
  top: 50%;
  height: 6px;
  background: url('../img/arrow-blue.svg') no-repeat center;
  transform: translateY(-50%);
}
