.timer{
  display: flex;
  justify-content: center;
  gap:4px;
  text-align: center;
  margin-bottom: 36px;
}
.timer__item{
flex: 0 0 80px;
}
.timer__unit{
  background: #A3B6C7;
  border-radius: 6px;
  font-weight: 600;
  font-size: 26px;
  color: #FFFFFF;
  padding: 8px 16px;
  margin-bottom: 4px;
}
.timer__unit-description{
font-weight: 300;
  font-size: 16px;
}
@media (min-width: 1024px) {
  .timer {
gap: 8px;
margin-bottom: 56px;
  }
  .timer__unit {
    padding: 11px 22px;
    margin-bottom: 8px;
  }
    .timer__unit-description {
      font-size: 20px;
    }
}